* {
  box-sizing: border-box;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerRegular.woff2') format('woff2'),
		url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerBold.woff2') format('woff2'),
		url('../fonts/MullerBold.woff') format('woff');
  font-weight: 600;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerMedium.woff2') format('woff2'),
		url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerLight.woff2') format('woff2'),
		url('../fonts/MullerLight.woff') format('woff');
  font-weight: 300;
	font-display: swap;
	font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Muller', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f1f1f1;
}

a {
  color: #cc9933;
  text-decoration: none;
  transition: opacity .3s ease-in-out;
}

a:hover {
  opacity: 0.6;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1168px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.section-title {
  margin-top: 69px;
  padding-left: 43px;
  font-size: 40px;
  font-weight: normal;
  line-height: 1;
}

.btn {
  height: 70px;
  padding: 0 16px;
  text-align: center;
  font-size: 17px;
  line-height: 1;
  color: white;
  background-color: #cc9933;
  border: 1px solid #cc9933;
  border-radius: 12px;
  cursor: pointer;
  transition: transform .3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  transform: scale(.9);
}

.input {
  width: 100%;
  border-radius: 15px;
  padding: 27px 21px;
  line-height: 1;
  border: none;
}

.mail-link,
.phone-link {
  display: block;
}

.header {
  padding-top: 30px;
}

.header-container {
  display: flex;
  align-items: center;
  line-height: 1;
}

.header-logo {
  line-height: 0;
}

.header-tel {
  margin-right: auto;
  margin-left: 25px;
  font-size: 22px;
  font-weight: bold;
  color: #666;
}

.header-personal {
  margin-right: 10px;
}

.header-nav {
  display: flex;
  margin-top: 27px;
  padding: 11px 21px;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 12px;
}

.header-list {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-list-item:not(:last-child) {
  margin-right: 46px;
}

.header-link {
  line-height: 1;
  color: #333333;
}

.header-search {
  width: 355px;
  padding: 17px 21px;
  font-size: 14px;
  background-color: #f1f1f1;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 21px) center;
}

.header-search::placeholder {
  color: #bebebe;
}

.reservation-input {
  margin-bottom: 24px;
}

.reservation-btn {
  padding-left: 30px;
  padding-right: 30px;
}

.reservation-available {
  margin-left: 30px;
}

.offer-item {
  background-image: url("../img/22.jpg");
  background-repeat: no-repeat;
  margin-left: 50px;
  padding: 265px 234px 35px 40px;
  border-radius: 12px;
}

.offer-item-title {
  margin-top: 0;
  margin-bottom: 31px ;
  color: white;
  font-size: 66px;
  line-height: 58px;
}

.offer-item-cost {
  font-size: 35px;
  line-height: 1;
  color: white;
  opacity: 50%;
}

.offer-item-detail {
  margin-left: 40px;
}

.offer-item-link {
  color: #ffcc66;
}

.offer-item-link-angle {
  margin-left: 5px;
}

.about-title {
  margin-bottom: 27px;
}

.about-description {
  padding-left: 43px;
  padding-right: 240px;
  line-height: 32px;
  color: #666;
}

.services-title {
  margin-bottom: 22px;
}

.services-list-item {
  margin-bottom: 24px;
  padding: 0;
  background-color: white;
  border-radius: 12px;
  line-height: 0;
}

.services-item-image {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.services-item-title {
  margin-top: 36px;
  margin-bottom: 15px;
  padding-left: 45px;
  font-size: 22px;
  font-weight: normal;
  line-height: 1;
}

.services-item-link-angle {
 margin-left: 8px; 
}

.services-item-description {
  margin: 0;
  padding-bottom: 40px;
  padding-left: 45px;
  padding-right: 114px;
  line-height: 32px;
}

.benefits-item {
  margin-bottom: 22px;
  padding: 29px;
  line-height: 0;
  background-color: white;
  border-radius: 12px;
}

.benefits-description {
  margin-top: 22px;
  margin-bottom: 0;
  line-height: 32px;
}

.placement-title {
  margin-bottom: 26px;
}

.placement-item {
  height: 441px;
  margin-bottom: 25px;
  line-height: 0;
  background-color: white;
  border-radius: 12px;
}

.placement-item-image {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.placement-item-description {
  margin-top: 36px;
  padding-left: 44px;
  line-height: 1;
}

.placement-item-cost-from {
  color: #969696;
}

.placement-item-cost-value {
  font-size: 22px;
  font-weight: bold;
}

.placement-item-rating {
  margin-left: 33px;
}

.placement-item-name {
  margin-top: 15px;
}

.placement-item-location {
  margin-top: 15px;
  color: #999999;
}

.placement-item-btn {
  height: auto;
  margin-top: 20px;
  margin-bottom: 43px;
  padding: 13px 20px 12px 21px;
  line-height: 1;
  font-size: 16px;
  font-weight: bold;
  color: #cc9933;
  background-color: white;
  border: 1px solid #cc9933;
}

.placement-more-items {
  position: relative;
  padding-top: 368px;
  padding-left: 39px;
  background-image: url("../img/placement-9.jpg");
  background-repeat: no-repeat;
}

.placement-more-link {
  color: white;
  font-size: 22px;
  font-weight: 500;
}

.placement-more-link::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.placement-more-angle {
  margin-left: 10px;
}

.feedback-container {
  display: flex;
}

.contacts-container {
  width: 472px;
  padding: 44px;
  background-color: white;
  border-radius: 12px;
}

.contact-list {
  margin-bottom: 44px;
}

.contact-item {
  display: flex;
  padding-bottom: 27px;
  border-bottom: 1px solid #ccc;
}

.contact-item:not(:first-child)
{
  padding-top: 26px;
}

.contact-item-name {
  min-width: 146px;
  margin: 0em;
  font-size: 22px;
  font-weight: bold;
  line-height: 32px;
  color: #666;
}

.contact-item-content {
  line-height: 24px;
}

.contacts-item-address {
  font-style: normal;
}

.contact-btn {
  padding: 27px 30px;
  line-height: 1;
  font-size: 16px;
  font-weight: bold;
  color: #cc9933;
  background-color: white;
  border: 1px solid #cc9933;
}

.write_to_us {
  padding: 104px 100px;
}

.write_to_us-title {
  padding-left: 0;
  padding-top: 75px;
  width: 100%;
  text-align: center;
}

.write_to_us-input {
  margin-bottom: 23px;
}

.write_to_us-textarea {
  resize: none;
  margin-bottom: 23px;
}

.write_to_us-btn {
  width: 100%;
}

.footer-container {
  display: flex;
  margin-bottom: 52px;
  padding: 50px;
  color: white;
  background-color: #333;
  background-image: url("../img/sun.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 176px) bottom;
  border-radius: 12px;
}

.footer-left {
  width: 300px;
  margin-right: 120px;
  line-height: 32px;
}

.footer-copy
{
  margin-bottom: 30px;
}

.footer-no-offer {
  margin-bottom: 30px;
}

.footer-center {
  margin-right: auto;
  line-height: 24px;
}

.footer-address {
  font-style: normal;
}

.footer-phisical-adsress {
  margin-bottom: 30px;
}

.footer-phones {
  margin-bottom: 30px;
}

.social-list {
  margin: 0;
}

.social-item {
  transition: transform .3s ease-in-out;
}

.social-item:hover {
  transform: rotate(90deg);
}

.social-item:not(:last-child) {
  margin-bottom: 21px;
}

.social-item-link {
  display: block;
  width: 25px;
  height: 25px;
  background: transparent center/cover no-repeat;
}

.social-link-tripadvisor {
  background-image: url("../img/tripadvisor.png");
}

.social-link-twitter {
  background-image: url("../img/twitter.png");
}

.social-link-facebook {
  background-image: url("../img/facebook.png");
}

.social-link-vk {
  background-image: url("../img/social.png");
}

.social-link-google {
  background-image: url("../img/google-plus-social-logotype.png");
}